.testimonial-container {
  max-width: 800px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.title h2 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.title p {
  font-size: 1.2rem;
  color: #666;
}

/* Slider container */
.slider-container {
  position: relative;
  user-select: none;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.text {
  color: #484646;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  text-align: center;
}

.info {
  text-align: center;
}

.rating {
  display: inline-block;
  line-height: 1;
  margin-bottom: 0.5rem;
}

.star {
  color: #ff6f59;
  font-size: 1.1rem;
}

.user {
  font-weight: 600;
}

.location {
  color: #999;
  font-size: 0.9rem;
}

.splide__pagination__page.is-active {
  background-color: #ff6f59;
}

.splide__arrow {
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #505050;
  font-weight: 300;
}

.splide__arrow--prev {
  top: 50%;
  left: -3.5rem;
}

.splide__arrow--next {
  top: 50%;
  right: -3.5rem;
}

.splide__pagination__page {
  height: 10px;
  width: 10px;
  opacity: 1;
}

/* Media Query */
@media (max-width: 576px) {
  .testimonial-card {
    padding: 1.5rem;
  }

  .splide__arrow {
    font-size: 1.5rem;
  }

  .splide__arrow--prev {
    left: 0.5rem;
  }

  .splide__arrow--next {
    right: 0.5rem;
  }
}
